@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Ovo&display=swap');

:root {
  /* Colors */
  --red: #e84855;
  --yellow: #f9dc5c;
  --blue: #3185fc;
  --pink: #efbcd5;
  --darkBlue: #403f4c;
  --hotPink: #f54291;

  --black: #0e1824;
  --darkGrey: #222;
  --grey: #9e9e9e;
  --grey-20: #757575;
  --grey-40: #616161;
  --grey-60: #424242;
  --grey-80: #212121;
  --white: #fff;
  --white-20: #fafafa;
  --white-40: #f5f5f5;
  --white-60: #eee;

  --background: var(--white-20);
  --textColor: var(--black);
  --headerBackground: var(--grey-80);

  --primary: var(--blue);

  /* Type */
  --headingFont: 'Ovo', serif;
  --bodyFont: 'Mulish', sans-serif;
  --baseFontSize: 100%;
  --h1: 3.052rem;
  --h2: 2.441rem;
  --h3: 1.953rem;
  --h4: 1.563rem;
  --h5: 1.25rem;
  --smallText: 0.8rem;

  /* Positioning */
  --containerPadding: 2.5%;
  --headerHeight: 3.5rem;

  /* Elevation */
  --level-1: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --level-2: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --level-3: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --level-4: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

html {
  font-size: var(--baseFontSize);
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.75;
  background-color: var(--background);
  color: var(--black);
}

p {
  margin-bottom: 1rem;
}

p a {
  color: var(--textColor);
  text-decoration: none;
  box-shadow: inset 0 -2px 0 var(--pink);
  transition: all 0.35s ease-in-out;
}

p a:hover {
  box-shadow: inset 0 -30px 0 var(--pink);
  /* color: var(--white); */
}

h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

small,
.text_small {
  font-size: var(--smallText);
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.screen-reader-text {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--containerPadding);
  position: fixed;
  left: 0;
  right: 0;
  height: var(--headerHeight);
  width: 100%;
  background-color: var(--headerBackground);
  color: #fff;
  box-shadow: var(--level-3);
}

.header a {
  color: #fff;
  text-decoration: none;
}

.logo svg {
  vertical-align: middle;
}

.nav__list {
  display: flex;
}

.nav__item + .nav__item {
  margin-left: 10px;
}

.nav__link {
  transition: box-shadow 0.3s ease-in-out;
}

.nav__link:hover {
  box-shadow: 0 2px #fff;
}

.layout {
  padding: calc(3rem + var(--headerHeight)) var(--containerPadding);
  max-width: 1280px;
  margin: 0 auto;
}

.layout-fluid {
  width: 100%;
}

@media only screen and (min-width: 576px) {
  :root {
    --baseFontSize: 112.5%;
  }
}
